# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/d1_mini/.sconsign39.dblite
.pio/build/d1_mini/firmware.bin
.pio/build/d1_mini/firmware.elf
.pio/build/d1_mini/idedata.json
.pio/build/d1_mini/ld/local.eagle.app.v6.common.ld
.pio/build/project.checksum
.vscode/c_cpp_properties.json
